
/* Sección body (fondo) */

body {
    background-color: #023047;
    height: 100%;
    width: 100%;
}

/* Contenido de sector main, contiene div sidebar y div content */

.main {
    width: auto;
    display: flex;
    height: 100%;
    margin-bottom: 1%;
}

.sidebar {
    background-color: #40b7d4;
    width: 30%;
    height: 100%;
    margin-right: 1%;
    text-align: left;
    border-style: inset;
    border-color: #278abb;
}

.head-sidebar {
    background-color: #8ecae6;
    border-style: dotted;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    background-color: #1d86bb;
    width: 90%;
    height: 100%;
    align-content: center;
    text-align: center;
    border-style: ridge;
    border-color: #04608f;
}

.head-content {
    background-color: #8ecae6;
    border-style: dotted;
    border-width: 3px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0%;
}